<!-- main login -->
<div class='columns is-centered'>
  <!-- login form -->
  <div class='bgc-offWhite border-slate4 box column is-4 m-5'>
    <form class='login-form-js'>
      <!-- enter email field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='email-login'>Email:</label>
        <div class='control'>
          <input class='border-lslate2 has-text-centered input is-medium' type='text' id='email-login' />
        </div>
      </div>
      <!-- enter password field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='password-login'>Password:</label>
        <div class='control'>
          <input class='border-lslate2 input has-text-centered is-medium' type='password' id='password-login' />
        </div>
      </div>
      <!-- submit button -->
      <div class='field'>
        <p class='control has-text-centered'>
          <button class='bgc-lSlate button has-text-weight-bold' type='submit'>Log In!</button>
        </p>
      </div>
    </form>
  </div>

  <!-- sign up form -->
  <div class='bgc-offWhite border-dOrange4 box column is-4 m-5'>
    <form class='signup-form-js'>
      <!-- enter name field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='name-signup'>Name</label>
        <div class='control'>
          <input class='border-lOrange2 has-text-centered input is-medium' type='text' id='name-signup' />
        </div>
      </div>
      <!-- enter email field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='email-signup'>Email</label>
        <div class='control'>
          <input class='border-lOrange2 has-text-centered input is-medium' type='text' id='email-signup' />
        </div>
      </div>
      <!-- enter password field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='password-signup'>Password</label>
        <div class='control'>
          <input class='border-lOrange2 has-text-centered input is-medium' type='password' id='password-signup' />
        </div>
      </div>
      <!-- submit button -->
      <div class='field'>
        <p class='control has-text-centered'>
          <button class='bgc-lOrange button has-text-weight-bold' type='submit'>Sign Up!</button>
        </p>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>